@model ProductViewModel
@{ ViewData["Title"] = "Product Partial"; }

@section Styles
{
    <link rel="stylesheet" href="/css/Style.css" />
    <link href="~/css/shop-template.css" rel="stylesheet">
}


<div class="row">



    <div class="">
        <div class="row">
            <div class="">


                <h1 class="my-4 text-center">Products</h1>
                <h2 class="my-4 text-center">10% sleva na nákup nad 30 milionů Kč!</h2>
                <h2 class="my-4 text-center">20% sleva na nákup 3 a více kusů Bugatti Veyron!</h2>
                <h2 class="my-4 text-center">5% sleva na nákup pro studenty!</h2>

                <div class="list-group flex-sm-row justify-content-around">

                    <a href="#" class="list-group-item ">Category 1</a>
                    <a href="#" class="list-group-item">Category 2</a>
                    <a href="#" class="list-group-item">Category 3</a>

                </div>

            </div>
            <!-- /.col-lg-3 -->
        </div>
        <!-- /.row -->

        <div class="row">
            @{ if (Model != null && Model.Products != null && Model.Products.Count > 0)
                {
                    foreach (var productItem in Model.Products)
                    {
                        <div class="col-6 col-md-4" >
                                        <div class="card h-100">
                                            <a asp-area="" asp-controller="Products" asp-action="Detail" asp-route-id="@productItem.ID"><img class="img-thumbnail" src="@productItem.ImageSrc" alt="@productItem.ImageAlt"></a>
                                            <div class="card-body">
                                                <h4 class="card-title">
                                                    <a asp-area="" asp-controller="Products" asp-action="Detail" asp-route-id="@productItem.ID">@productItem.ProductName</a>
                                                </h4>
                                                <h5>@productItem.Price Kč</h5>
                                                <p class="card-text">@productItem.Description</p>
                                            </div>
                                            <div class="card-footer">
                                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                                            </div>
                                            <input type="button" class="btn-success" value="Buy" style="font-size:1.4em;text-align:center"
                                                   onclick="Buy(@productItem.ID, '@Url.Action("AddOrderItemsToSession", "CustomerOrderNotCart", new { Area = "Customer" })', '#total_price', '@System.Globalization.CultureInfo.CurrentCulture.Name')" />
                                        </div>
                        </div> }
                } }



        </div>
        <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

</div>
<!-- /.row -->
