@model ProductViewModel
@{
    ViewData["Title"] = "Products";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Select all data from product.</p>

<a asp-action="Create">Create Product Item</a>
<br />
<br />

@{
    if (Model != null && Model.Products != null && Model.Products.Count > 0)
    {
        <table style="width:100%">
            <tr>
                <th class="col-sm-1">@Html.DisplayNameFor(model => model.Products[0].ID)</th>
                <th class="col-sm-2">@Html.DisplayNameFor(model => model.Products[0].ProductName)</th>
                <th class="col-sm-2">@Html.DisplayNameFor(model => model.Products[0].ImageAlt)</th>
                <th class="col-sm-2">@Html.DisplayNameFor(model => model.Products[0].ImageSrc)</th>
                <th class="col-sm-1">Edit</th>
                <th class="col-sm-1">Delete</th>
            </tr>
            @foreach (var productItem in Model.Products)
            {

                <tr>
                    <td class="col-sm-1">@productItem.ID</td>
                    <td class="col-sm-2">@productItem.ProductName</td>
                    <td class="col-sm-2">@productItem.ImageAlt</td>
                    <td class="col-sm-2">@productItem.ImageSrc</td>
                    <td class="col-sm-1"><a asp-action="Edit" asp-route-ID="@productItem.ID">Edit</a></td>
                    <td class="col-sm-1"><a asp-action="Delete" asp-route-ID="@productItem.ID" onclick="return ConfirmDelete();">Delete</a></td>

                </tr>
            }
        </table>
    }
    else
    {
        <h2>Carousel is empty!</h2>
    }
}

@section Scripts
{
    <script src="~/js/Scripts.js"></script>
}
